4. Data Type (List, Tuple, String, Set, Dictionary)
5. lambda + comprehension + map,filter,reduce

# Data Type:

##  List

In [1]:
# Creating an empty list
shopping = []

In [2]:
# Checking the type of the list
type(shopping)

list

In [3]:
# Finding the length of the list
len(shopping)

0

In [117]:
# Creating a list with initial values
shopping = list(('Rice', 'Apple', 'Milk', 'Dal', 'Curd', 'Mango'))
type(shopping)

list

In [8]:
# Creating a list using square brackets
shopping = ['Rice', 'Apple', 'Milk', 'Dal',  'Curd', 'Mango']
#shopping=> [0     ,   1    ,   2   , 3    ,  4     ,   5    ]

In [9]:
type(shopping)

list

In [10]:
len(shopping)

6

In [11]:
#Indexing starts from 0 always

In [12]:
# Accessing elements in a list using index
shopping[1]

'Apple'

In [13]:
# Slicing a list to retrieve a subset of elements
shopping[1:5]

#1:5 => 2nd position data from the list to 5th Position data in the list

['Apple', 'Milk', 'Dal', 'Curd']

In [15]:
# Updating an element in the list
shopping[1] = 'Orange'

In [16]:
shopping

['Rice', 'Orange', 'Milk', 'Dal', 'Curd', 'Mango']

In [22]:
# Appending an element to the list
shopping.append('Rice')

In [23]:
shopping

['Rice', 'Orange', 'Milk', 'Dal', 'Curd', 'Mango', 'Rice']

In [21]:
# Counting the occurrences of an element in the list
shopping.count('Orange')

1

In [24]:
print(shopping.count('Rice'))

2

In [25]:
# Removing an element from the list
shopping.remove('Orange')

In [ ]:
# Sorting the list in reverse order
shopping.sort(reverse=True)

In [26]:
shopping

['Rice', 'Milk', 'Dal', 'Curd', 'Mango', 'Rice']

In [27]:
shopping.remove('Rice')

In [28]:
shopping

['Milk', 'Dal', 'Curd', 'Mango', 'Rice']

In [30]:
shopping.remove('Milk')

In [31]:
shopping

['Dal', 'Curd', 'Mango', 'Rice']

In [32]:
del shopping[1]

In [34]:
a = 45
b = 12

c = a+b
print(c)

57

In [39]:
del a

In [40]:
c = a+b
print(c)

NameError: name 'a' is not defined

In [33]:
shopping

['Dal', 'Mango', 'Rice']

In [ ]:
1. Order is preserved
2. Retreival can be done using the index
3. Data inside the list can be updated or modified
4. Duplicatikon is allowed
5. Deletion is removed
6. It can accept any type of data

In [43]:
shopping.sort(reverse=True)

In [42]:
shopping

['Dal', 'Mango', 'Rice']

In [44]:
shopping

['Rice', 'Mango', 'Dal']

## Tuple

In [ ]:
# Creating a tuple
shopping = tuple(('Rice', 'Apple', 'Milk', 'Dal', 'Curd', 'Mango'))
type(shopping)

In [55]:
# Accessing elements in a tuple using index
receipt = ('Rice', 'Dal', 'Wheat', 1, 43.5, 1+2j, 1)
receipt[0]

In [56]:
receipt[0]

'Rice'

In [57]:
receipt[2] = 'Barley'

TypeError: 'tuple' object does not support item assignment

In [59]:
receipt.count(1)

2

In [60]:
del receipt[0]

TypeError: 'tuple' object doesn't support item deletion

In [62]:
len(receipt)

7

In [ ]:
1. Order is preserved
2. Retreival is done using the index
3. Tuple cannot be interchanged with existing data into the tuple.
4. It can accept any type of data
5. Duplicatikon is allowed
6. Deletion is not allowed

## String

In [121]:
# Creating a string
message = str(234)
type(message)

str

In [122]:
message

'234'

In [63]:
message = "Hi I Welcome you all"

In [65]:
# Accessing characters in a string using index
message[3]

20

In [68]:
message[3]

'I'

In [70]:
message[3:12]

'I Welcome'

In [74]:
message[-1]

'l'

In [72]:
message[3] = 'U'

TypeError: 'str' object does not support item assignment

In [73]:
del message[3]

TypeError: 'str' object doesn't support item deletion

## Set

In [120]:
# Creating a set
shopping = set(('Rice', 'Apple', 'Milk', 'Dal', 'Curd', 'Mango'))
type(shopping)

set

In [88]:
# Creating sets with unique elements
Purchased_Item = {'milk', 'apple', 'apple', 'milk', 'curd'}

In [89]:
Purchased_Item

{'apple', 'curd', 'milk'}

In [94]:
price = {2332,4213,233,331434,2323,2323,99809}

In [95]:
price

{331, 2323, 42135, 99809, 233232, 2332132}

In [76]:
price = {23,45,23,1,2,2,3}

In [ ]:
[] list
() tuple
{} set

In [78]:
price

{1, 2, 3, 23, 45}

In [79]:
price[0]

TypeError: 'set' object is not subscriptable

In [80]:
price.pop()

1

In [82]:
price.remove(2)

In [83]:
price

{3, 23, 45}

1. Order is not preserved
2. Retreival can not be done using index
### 3. Duplication is not allowed
4. Deletion is allowed
5. Insertion is based on Hashing
6. The order of data is based on Hashing technique

In [ ]:
15,4,5,6,7



5 buckets




4
3
2 - 7
1 - 4,6
0 - 15,5

In [86]:
test = frozenset({23,45,23,1,2,2,3})

## Dictionary

In [112]:
# Creating a dictionary
item_price = {'Apple': 200, 'Orange': 100, 'Grapes': 50, 'Milk': 50, 'Apple': 220}

In [113]:
#Set is a Dictionary without a value

In [114]:
item_price

{'Apple': 220, 'Orange': 100, 'Grapes': 50, 'Milk': 50}

In [206]:
# Accessing values in a dictionary using keys
item_price['Orange']
item_price['Milk']

50

In [103]:
item_price['Milk']

30

In [207]:
# Getting all the keys, values, and items in a dictionary
print(item_price.keys())
print(item_price.values())
print(item_price.items())

dict_keys(['Apple', 'Orange', 'Grapes', 'Milk'])
dict_values([220, 100, 50, 50])
dict_items([('Apple', 220), ('Orange', 100), ('Grapes', 50), ('Milk', 50)])

In [104]:
item_price.keys()

dict_keys(['Apple', 'Orange', 'Grapes', 'Milk'])

In [105]:
item_price.values()

dict_values([220, 100, 50, 30])

In [106]:
item_price.items()

dict_items([('Apple', 220), ('Orange', 100), ('Grapes', 50), ('Milk', 30)])

In [107]:
# Adding a new key-value pair to the dictionary
item_price['Curd'] = 23

In [108]:
item_price

{'Apple': 220, 'Orange': 100, 'Grapes': 50, 'Milk': 30, 'Curd': 23}

In [109]:
# Deleting a key-value pair from the dictionary
del item_price['Curd']

In [110]:
item_price

{'Apple': 220, 'Orange': 100, 'Grapes': 50, 'Milk': 30}

In [111]:
len(item_price)

4

### List Comprehension

In [125]:
list_test = [1,4,3,5,6,7,2,3]
#list out the sum of odd numbers from this list

In [128]:
sum = 0
for i in list_test:
    if i%2 != 0:
        sum = sum + i
print(sum)

19

In [131]:
[i for i in list_test if i%2!=0]

[1, 3, 5, 7, 3]

In [134]:
tuple(i for i in list_test if i%2!=0)

(1, 3, 5, 7, 3)

In [132]:
{i for i in list_test if i%2!=0}

{1, 3, 5, 7}

In [135]:
[i*i for i in list_test if i%2!=0]

[1, 9, 25, 49, 9]

In [136]:
lst_def = []
for i in range(1,10):
    lst_def.append(i*i)

In [137]:
lst_def

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [138]:
[i*i for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [142]:
[(i,j) for i in range(1,10) for j in range(1,10) if i%2!=0 if j%2!=0]

[(1, 1),
 (1, 3),
 (1, 5),
 (1, 7),
 (1, 9),
 (3, 1),
 (3, 3),
 (3, 5),
 (3, 7),
 (3, 9),
 (5, 1),
 (5, 3),
 (5, 5),
 (5, 7),
 (5, 9),
 (7, 1),
 (7, 3),
 (7, 5),
 (7, 7),
 (7, 9),
 (9, 1),
 (9, 3),
 (9, 5),
 (9, 7),
 (9, 9)]

### Map, Filter, Reduce

In [143]:
#map(what you need to do , what is the data u want to perform opration)

In [147]:
def square(x):
    return x**2

In [151]:
def add(a,b):
    return a+b

In [152]:
add(3,2)

5

In [148]:
#Functional Programming
list(map(square,[1,2,3]))

[1, 4, 9]

In [150]:
inp = [1,3,5,7]
list(map(lambda x : x**2, inp))

[1, 9, 25, 49]

In [ ]:
#Filter(what you need to do -> Condition , what is the data u want to perform opration)
#return only those data where condition is true

In [153]:
inp = [1,2,3,4,5,6,7,8,9]

In [154]:
def odd(x):
    if x%2!=0:
        return x

In [156]:
list(filter(odd , inp))

[1, 3, 5, 7, 9]

In [166]:
for i in range(1,10):
    if i**2:
        print(i)

1
2
3
4
5
6
7
8
9

In [168]:
list(filter(lambda x: x%2!=0 , inp))

[1, 3, 5, 7, 9]

In [167]:
list(filter(lambda x: i**2 , inp))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [162]:
list(map(lambda x : x**2,list(filter(lambda x: x%2!=0 , inp))))

[1, 9, 25, 49, 81]

In [187]:
list(map(lambda x : x**2,list(filter(lambda x: x%2!=0 , inp))))

[1, 9, 25, 49, 81]

In [ ]:
#reduce

In [169]:
from functools import reduce

In [170]:
def sum(a,b):
    return a+b

In [172]:
reduce(sum , range(1,100))

4950

In [173]:
reduce(lambda x,y: x+y , range(1,100))

4950

In [175]:
reduce(lambda x,y: x*y , range(1,5))

24

In [179]:
list_test = [1,4,3,5,6,7,2,3]

{i for i in list_test if i%2!=0}

{1, 3, 5, 7}

In [185]:
reduce( lambda x,y: x+y   , set(filter(lambda x: x%2!=0, list_test)))

0.009523809523809523

In [ ]:
reduce(lambda x,y: x+y, {i for i in list_test if i%2!=0})

In [ ]:
[1,2,3,4,5,6]

1+2 = 3
3+3 = 6
6+4 = 10

In [189]:
test = []

In [190]:
test.append(2)

In [192]:
test[0]

2

In [193]:
test.append(4)

In [194]:
test

[2, 4]

In [195]:
test[1]

4

In [201]:
tes = {1}

In [202]:
tes.add(2)

In [203]:
tes

{1, 2}

In [205]:
tes[1]

TypeError: 'set' object is not subscriptable

In [ ]:
#Interview Questions:

# Q: What is the difference between a list and a tuple?
# A: The main differences between a list and a tuple are:
#    - Lists are mutable (can be modified), while tuples are immutable (cannot be modified).
#    - Lists use square brackets [], while tuples use parentheses ().
#    - Lists have various built-in methods for modification, while tuples have fewer methods and are mainly used for read-only data.

# Q: What are the characteristics of a set in Python?
# A: The characteristics of a set in Python are:
#    - Sets are unordered collections of unique elements.
#    - Sets do not allow duplicate values.
#    - Sets are mutable and can be modified using various built-in methods.
#    - Sets are commonly used to perform mathematical set operations such as union, intersection, and difference.

# Q: What is the purpose of the try-except block in Python?
# A: The try-except block is used for exception handling in Python. It allows you to catch and handle exceptions (errors) that occur during the execution of your program. The try block contains the code that may raise an exception, and the except block specifies the actions to be taken if an exception occurs.

# Q: Explain the concept of lambda functions in Python.
# A: Lambda functions, also known as anonymous functions, are small, single-line functions without a name. They are defined using the lambda keyword and can take any number of arguments but can only have a single expression. Lambda functions are commonly used in conjunction with higher-order functions like map, filter, and reduce for concise and efficient coding.

# Q: What is the purpose of map, filter, and reduce functions in Python?
# A: The purpose of these functions is as follows:
#    - Map: It applies a given function to each element of an iterable and returns a new iterable with the results.
#    - Filter: It applies a given function to each element of an iterable and returns a new iterable with the elements for which the function returns True.
#    - Reduce: It applies a given function to the elements of an iterable in a cumulative way, reducing them to a single value.


# Q: What are the different data types used in the Python file?
# A: The Python file demonstrates the use of various data types, including lists, tuples, strings, sets, and dictionaries.

# Q: What is the difference between a list and a tuple in Python?
# A: A list is a mutable data type, meaning its elements can be modified after creation. On the other hand, a tuple is immutable, and its elements cannot be changed once defined. Lists are denoted by square brackets [], while tuples are denoted by parentheses ().

# Q: How do you access elements in a list in Python?
# A: Elements in a list can be accessed using indexing. Indexing starts from 0, so the first element can be accessed with index 0, the second element with index 1, and so on. For example, shopping[1] returns the second element in the list.

# Q: How do you add an element to a list in Python?
# A: You can add an element to a list using the append() method. For example, shopping.append('Rice') adds the string 'Rice' to the end of the list.

# Q: How do you remove an element from a list in Python?
# A: There are multiple ways to remove an element from a list. The remove() method removes the first occurrence of a specified element, while the del statement can be used to remove an element at a specific index. For example, shopping.remove('Orange') removes the string 'Orange' from the list.

# Q: What is the purpose of the sort() method in Python lists?
# A: The sort() method is used to sort the elements in a list in ascending order. By default, it sorts the list in-place, meaning it modifies the original list. Adding the parameter reverse=True to the sort() method sorts the list in descending order.

# Q: How do you define and access elements in a dictionary in Python?
# A: A dictionary consists of key-value pairs. Elements in a dictionary can be defined using curly braces {} and accessed using their respective keys. For example, item_price['Orange'] returns the value associated with the key 'Orange' in the dictionary.

# Q: What is the purpose of the lambda function in Python?
# A: The lambda function is a way to create anonymous functions in Python. It allows you to define small, one-line functions without explicitly using the def keyword. lambda functions are commonly used in combination with other functions like map(), filter(), and reduce().

# Q: What is the difference between map(), filter(), and reduce() in Python?
# A: map(), filter(), and reduce() are higher-order functions in Python. map() applies a given function to each item in an iterable and returns an iterator of the results. filter() creates a new iterator that contains only the elements from the original iterable that satisfy a specified condition. reduce() applies a function to the elements of an iterable in a cumulative way, reducing them to a single value.

In [ ]:
Hashing

In [ ]:
1. Class and Object
2. Iterator
3. Generator
4. Try Except